a {
    color: #000000;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 10px;
}

i.large {
    font-size: 3rem;
    color: #03a9f4;
}

.card.large .card-content {
    height: 220px;
}