a {
    color: #000000;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 10px;
}

i.large {
    font-size: 3rem;
    color: #03a9f4;
}

.card.large .card-content {
    height: 220px;
}

.container  {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.container .row {
    margin: 0 auto;
}